.Wallpaper {
    width: 25vh;
    height: 100vh;
    
}
.Sidedrawer {
    position: fixed;
    width: 25vh;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    padding: 0 16px;
    box-sizing: border-box;
    transition: transform 0.3 ease-out;
    background-image: url(../../../assets/jwp.jpg);
    background-position: 68%;
    background-position-y: bottom;

    

}
